// Fonts

$font1: DINCond-Bold;
$font2: 'Helvetica', 'Arial', sans-serif;

@font-face {
  font-family: 'DINCond-Bold';
  src: url('./fonts/DINCond-Bold.woff') format('woff'),
       url('./fonts/DINCond-Bold.ttf') format('truetype'),
       url('./fonts/DINCond-Bold.svg#DINCond-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}