// Main Content Styles

.App {

  .main-content {
  	margin-top: 40px;
    font-family: $font1;
    
    // Left side of content
    .instructions {
		.logo-sweeps {
    		width: 100%;
    		max-width: 517px;
    	}

    	h2 {
    		font-size: 38px;
    		color: $white;
    		text-shadow: 2px 2px 0px rgba(150, 17, 23, 1);
    		margin-top: 20px;
    	}

    	sup {
    		font-size: 20px;
    	}

    	h3 {
    		font-size: 38px;
    		margin-bottom: 0;
    	}

    	ul {
    		padding: 0;

    		li {
    			display: block;
    			font-size: 28px;
    			margin-bottom: 5px;

    			&:last-child {
    				margin-bottom: 0;
    			}
    		}

    		img {
    			margin-right: 5px;
    		}
    	}
    }
	
	// Right side of content
    .contact-form {
    	background-color: rgba(255,255,255,0.9);
    	-webkit-box-shadow: 0px 0px 8px 3px rgba(186,186,186,0.6);
		-moz-box-shadow: 0px 0px 8px 3px rgba(186,186,186,0.6);
		box-shadow: 0px 0px 8px 3px rgba(186,186,186,0.6);
    	padding: 25px;

    	p {
    		font-family: $font2;
    		font-size: 12px;
    	}

    	input[type="text"],
    	input[type="tel"] {
			border: 1px solid $true-black;
			background-color: $form-bg;
			padding: 10px;
    	}

    	input[type="text"] {
    		width: 100%;
    		display: block;
    	}

    	input[type="tel"] {
    		width: 31%;
    		display: inline-block;
    		margin-right: 3%;

    		&:last-child {
    			margin-right: 0;
    		}
    	}
		
    	.form-spacing {
    		margin-bottom: 10px;
    	}

    	.form-label {
    		font-family: $font1;
    		font-size: 18px;
    		text-transform: uppercase;
    		margin-bottom: 0;

    		.emp-small {
    			font-family: $font2;
    			text-transform: lowercase;
    		}
    	}

    	.form-phone {
    		margin-bottom: 10px;
    	}

    	.emp-small {
    		font-size: 10px;
    	}

    	.checkbox-copy {
    		display: inline;
    		margin-left: 5px;
    	}

    	a {
    		color: $red;
    		text-decoration: underline;
    	}

    	.optional {
    		color: $red;
    	}
    }
  }
}