// Imports
@import '_variables.scss';

// Global App Styles
body {
  background-color: #000000;
}

.App {
  background-image: url('bg.jpg');
  background-position: top center;
  background-size: cover;
}

// TODO TEMP
.row,
.col {
  background: rgba(255,255,255,0.5);
  border: 1px solid white;
}

.footer {
  color: $light-grey;
  font-size: 11px;
  font-family: 'Helvetica', 'Arial', sans-serif;

  a {
    color: $red;
    text-decoration: underline;
    transition: .2s ease;

    &:hover {
      color: $white;
      transition: .2s ease;
    }
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      margin-right: 10px;

      &:after {
        content: "|";
        margin-left: 10px;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }

      &:first {
        margin-left: 0;
      }
    }
  }
}
