// Imports
@import '_fonts.scss';
@import '_variables.scss';
@import '_header.scss';
@import '_main-content.scss';
@import '_footer.scss';

// TODO TEMP
// .row,
// .col {
//   background: rgba(255,255,255,0.5);
//   border: 1px solid white;
// }

// Global App Styles
body {
  background-color: #000000;
}

.App {
  background-image: url('bg.jpg');
  background-position: top center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}
