// Imports
@import 'scss/_mixins.scss';
@import 'scss/_fonts.scss';
@import 'scss/_variables.scss';
@import 'scss/_header.scss';
@import 'scss/_main-content.scss';
@import 'scss/_footer.scss';
@import 'scss/_react-select-search.scss';

// Global App Styles
@include scrollbar(.5em, gray, darkgray);

body {
  background-color: #000000;

 //  @include bp-xlarge {
	// background-color: white;
 //  }
 //  @include bp-large {
	// background-color: yellow;
 //  }
 //  @include bp-medium {
	// background-color: orange;
 //  }
 //  @include bp-small {
	// background-color: green;
 //  }
}

.App {
  background-image: url('img/bg.jpg');
  background-position: top center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

ul {
	padding-left: 0;
}
