// Header Styles

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(1,1,1,0.8);
	z-index: 999;

	&.show {
		display: block;
	}

	p {
		color: $white;

		@include bp-medium {
			font-size: 0.8rem;
		}

		@include bp-small {
			font-size: 0.7rem;
		}

		&.title {
			text-align: center;
			font-weight: bold;
			font-size: 1.5rem;

			@include bp-medium {
				font-size: 1.2rem;
			}

			@include bp-small {
				font-size: 1rem;
			}
		}
	}

	.btn-close {
		text-align: right;
		margin-top: 20px;
		margin-right: 25px;
		cursor: pointer;
		font-weight: bold;
	}

	.overlay-container {
		width: 600px;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -300px;
		margin-top: -300px;

		@include bp-medium {
			width: 400px;
			margin-left: -200px;
			margin-top: -200px;
			top: 30%;
		}

		@include bp-small {
			width: 80%;
			margin-left: -40%;
			margin-top: -50%;
		}
	}
}